* {
    position: relative;
    font-family: sans-serif;
}
html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
#main {
    z-index: 1;
    width: 100%;
    height: calc(100% - 60px);
    position: absolute;
    top: 60px;
    left: 0;
    background: rgb(30, 30, 50);
    color: rgb(255, 255, 255);
}

#title {
    font-size: 42px;
    margin: 0 16px 16px;
}

#search {
    font-size: 42px;
    margin: 0 16px 16px;
    background: transparent;
    color: rgb(228, 228, 228);
    border: rgb(158, 158, 158) 1px solid;
    border-radius: 8px;
    padding: 6px;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 3000px;

    transition: all 0.3s;
}

#search:hover,
#search:focus {
    outline: none;
    z-index: 30;
    border: rgb(228, 228, 228) 1px solid;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 0px 3000px;
}

#grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
    width: calc(100% - 32px);
    margin: 0 16px;
}

.anime {
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 3000px;
    cursor: pointer;
    transition: all 0.3s;
}

.anime:hover {
    z-index: 30;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 0px 3000px;
}

.anime-image > img {
    width: 250px;
    height: 350px;
    background: rgba(255, 255, 255, 0.2);
    border: 0;
    border-radius: 4px;
    filter: contrast(1.1);
    box-shadow: rgb(0 0 0) 4px 4px 12px;
}

.anime-title {
    text-shadow: rgb(0 0 0) 4px 4px 12px;
}
