@font-face {
    font-family: "Selected Font";
    src: url("/font.woff2");
    font-display: swap;
}

* {
    position: relative;
    font-family: "Selected Font", "Helvetica", "Arial", sans-serif;
}
html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
#main {
    z-index: 1;
    width: 100%;
    height: calc(100% - 60px);
    position: absolute;
    top: 60px;
    left: 0;
    background: rgb(30, 30, 50);
    color: rgb(255, 255, 255);
}

#grid {
    width: 100%;
    display: grid;
    grid-template-columns: 350px auto;
    grid-template-rows: auto;
    grid-gap: 10px;
}

#title,
#image,
#description,
#info,
#episodes {
    opacity: 0;
    transition: opacity 0.3s;
}

#title {
    grid-column: 1 / -1;
    grid-row: 1;
    padding: 0 24px;
}

#image {
    grid-column: 1;
    grid-row: 2 / 4;
    display: flex;
    justify-content: center;
}

#image > img {
    border-radius: 4px;
    filter: contrast(1.1);
    box-shadow: rgb(0 0 0) 4px 4px 12px;
}

#description {
    grid-column: 2;
    grid-row: 2;
    padding: 0 24px;
}

#info {
    grid-column: 2;
    grid-row: 3;
}

#episodes {
    grid-column: 1 / -1;
    width: calc(100% - 24px);
    margin: 12px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.episode {
    width: calc(100% - 12px);
    height: 60px;
    padding: 6px;
    cursor: pointer;

    transition: all 0.3s;
}

.status {
    position: absolute;
    top: 6px;
    right: 12px;
    font-size: 20px;
    transform: scaleX(1.2);
}

.ep-title {
    font-size: 18px;
}

.watched {
    display: inline-block;
    padding: 6px 0;
    color: silver;
    font-size: 14px;
}

.episode:hover,
.episode:focus {
    background: rgba(255, 255, 255, 0.1);
}

#info li {
    margin: 2px 0;
}

a {
    color: rgb(255, 255, 255);
}

#popup {
    z-index: 1000;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 140px;
    background: rgb(30, 30, 50);
    color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 0px 3000px;

    display: none;
    opacity: 0;
    transition: opacity 0.3s;
}

#popup::before {
    content: "";
    position: absolute;
    top: calc(-50vh + 70px);
    left: calc(-50vw + 150px);
    width: 100vw;
    height: 100vh;
}

#popup-title {
    padding: 4px 8px;
    font-size: 18px;
}

#popup-content {
    padding: 2px 8px;
    color: rgb(230, 230, 230);
}

#popup-confirm {
    position: absolute;
    bottom: 8px;
    right: 68px;
    padding: 4px 8px;
    background: rgb(113, 113, 236);
    text-shadow: 0 0 3px black;
    cursor: pointer;
}

#popup-cancel {
    position: absolute;
    bottom: 8px;
    right: 8px;
    padding: 4px 8px;
    background: rgb(60, 60, 100);
    cursor: pointer;
}
